@import "./../../../../assets/styles/variables.scss";

.todo-card {
  position: relative;
  border: 1px solid rgb(219, 217, 217);
  border-radius: 0.3em;
  background: white;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;

  .title {
    color: #333;
  }

  .check-btn {
   height: 1.5em;
   width: 1.5em;
   border: 2px solid #333;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  &.status-danger {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0.3em;
      background: red;
    }
  }
}

.options{
    height: 50px;
    background: $primary-color;
    display: none;
}